.vs
.idea
.vscode
.vsconfig

/Binaries
/DerivedDataCache
/Intermediate
/LocalDerivedDataCache
/LocalDerivedDataCache_5.1
/LocalDerivedDataCache_5.2
/Plugins/Developer/RiderLink
*.sln
/*.DotSettings.user

/.gitlab/tmp/*
/.gitlab/sync_binaries.cfg
*.pyc

Saved/*
!Saved/Collections

Build/Windows/*
!Build/Windows/PipelineCaches